extends ../layouts/main.jade
block styles
	link(rel="stylesheet",href="/styles/main.css")
	link(rel="stylesheet" href="/styles/coinData.css")
block scripts
	script(src="https://code.highcharts.com/highcharts.js")
	script(src="scripts/main.js")
block header
	.adder
		| | Add Watcher 
		select#adder
			for coin in coins
				option(value="#{coin.code}") #{coin.name}
		| 
		input(type="button",value="Add",onclick="addItem($('#adder').val())")
	.status
		i.fa.fa-refresh(title="Refresh",onclick="populateItems()")
		i.fa.fa-save(title="Save",onclick="saveArr()")
block body
	.container
		.items