@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.fa {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-asterisk:before {
  content: "\002a";
}
.fa-plus:before {
  content: "\002b";
}
.fa-euro:before,
.fa-eur:before {
  content: "\20ac";
}
.fa-minus:before {
  content: "\2212";
}
.fa-cloud:before {
  content: "\2601";
}
.fa-envelope:before {
  content: "\2709";
}
.fa-pencil:before {
  content: "\270f";
}
.fa-glass:before {
  content: "\e001";
}
.fa-music:before {
  content: "\e002";
}
.fa-search:before {
  content: "\e003";
}
.fa-heart:before {
  content: "\e005";
}
.fa-star:before {
  content: "\e006";
}
.fa-star-empty:before {
  content: "\e007";
}
.fa-user:before {
  content: "\e008";
}
.fa-film:before {
  content: "\e009";
}
.fa-th-large:before {
  content: "\e010";
}
.fa-th:before {
  content: "\e011";
}
.fa-th-list:before {
  content: "\e012";
}
.fa-ok:before {
  content: "\e013";
}
.fa-remove:before {
  content: "\e014";
}
.fa-zoom-in:before {
  content: "\e015";
}
.fa-zoom-out:before {
  content: "\e016";
}
.fa-off:before {
  content: "\e017";
}
.fa-signal:before {
  content: "\e018";
}
.fa-cog:before {
  content: "\e019";
}
.fa-trash:before {
  content: "\e020";
}
.fa-home:before {
  content: "\e021";
}
.fa-file:before {
  content: "\e022";
}
.fa-time:before {
  content: "\e023";
}
.fa-road:before {
  content: "\e024";
}
.fa-download-alt:before {
  content: "\e025";
}
.fa-download:before {
  content: "\e026";
}
.fa-upload:before {
  content: "\e027";
}
.fa-inbox:before {
  content: "\e028";
}
.fa-play-circle:before {
  content: "\e029";
}
.fa-repeat:before {
  content: "\e030";
}
.fa-refresh:before {
  content: "\e031";
}
.fa-list-alt:before {
  content: "\e032";
}
.fa-lock:before {
  content: "\e033";
}
.fa-flag:before {
  content: "\e034";
}
.fa-headphones:before {
  content: "\e035";
}
.fa-volume-off:before {
  content: "\e036";
}
.fa-volume-down:before {
  content: "\e037";
}
.fa-volume-up:before {
  content: "\e038";
}
.fa-qrcode:before {
  content: "\e039";
}
.fa-barcode:before {
  content: "\e040";
}
.fa-tag:before {
  content: "\e041";
}
.fa-tags:before {
  content: "\e042";
}
.fa-book:before {
  content: "\e043";
}
.fa-bookmark:before {
  content: "\e044";
}
.fa-print:before {
  content: "\e045";
}
.fa-camera:before {
  content: "\e046";
}
.fa-font:before {
  content: "\e047";
}
.fa-bold:before {
  content: "\e048";
}
.fa-italic:before {
  content: "\e049";
}
.fa-text-height:before {
  content: "\e050";
}
.fa-text-width:before {
  content: "\e051";
}
.fa-align-left:before {
  content: "\e052";
}
.fa-align-center:before {
  content: "\e053";
}
.fa-align-right:before {
  content: "\e054";
}
.fa-align-justify:before {
  content: "\e055";
}
.fa-list:before {
  content: "\e056";
}
.fa-indent-left:before {
  content: "\e057";
}
.fa-indent-right:before {
  content: "\e058";
}
.fa-facetime-video:before {
  content: "\e059";
}
.fa-picture:before {
  content: "\e060";
}
.fa-map-marker:before {
  content: "\e062";
}
.fa-adjust:before {
  content: "\e063";
}
.fa-tint:before {
  content: "\e064";
}
.fa-edit:before {
  content: "\e065";
}
.fa-share:before {
  content: "\e066";
}
.fa-check:before {
  content: "\e067";
}
.fa-move:before {
  content: "\e068";
}
.fa-step-backward:before {
  content: "\e069";
}
.fa-fast-backward:before {
  content: "\e070";
}
.fa-backward:before {
  content: "\e071";
}
.fa-play:before {
  content: "\e072";
}
.fa-pause:before {
  content: "\e073";
}
.fa-stop:before {
  content: "\e074";
}
.fa-forward:before {
  content: "\e075";
}
.fa-fast-forward:before {
  content: "\e076";
}
.fa-step-forward:before {
  content: "\e077";
}
.fa-eject:before {
  content: "\e078";
}
.fa-chevron-left:before {
  content: "\e079";
}
.fa-chevron-right:before {
  content: "\e080";
}
.fa-plus-sign:before {
  content: "\e081";
}
.fa-minus-sign:before {
  content: "\e082";
}
.fa-remove-sign:before {
  content: "\e083";
}
.fa-ok-sign:before {
  content: "\e084";
}
.fa-question-sign:before {
  content: "\e085";
}
.fa-info-sign:before {
  content: "\e086";
}
.fa-screenshot:before {
  content: "\e087";
}
.fa-remove-circle:before {
  content: "\e088";
}
.fa-ok-circle:before {
  content: "\e089";
}
.fa-ban-circle:before {
  content: "\e090";
}
.fa-arrow-left:before {
  content: "\e091";
}
.fa-arrow-right:before {
  content: "\e092";
}
.fa-arrow-up:before {
  content: "\e093";
}
.fa-arrow-down:before {
  content: "\e094";
}
.fa-share-alt:before {
  content: "\e095";
}
.fa-resize-full:before {
  content: "\e096";
}
.fa-resize-small:before {
  content: "\e097";
}
.fa-exclamation-sign:before {
  content: "\e101";
}
.fa-gift:before {
  content: "\e102";
}
.fa-leaf:before {
  content: "\e103";
}
.fa-fire:before {
  content: "\e104";
}
.fa-eye-open:before {
  content: "\e105";
}
.fa-eye-close:before {
  content: "\e106";
}
.fa-warning-sign:before {
  content: "\e107";
}
.fa-plane:before {
  content: "\e108";
}
.fa-calendar:before {
  content: "\e109";
}
.fa-random:before {
  content: "\e110";
}
.fa-comment:before {
  content: "\e111";
}
.fa-magnet:before {
  content: "\e112";
}
.fa-chevron-up:before {
  content: "\e113";
}
.fa-chevron-down:before {
  content: "\e114";
}
.fa-retweet:before {
  content: "\e115";
}
.fa-shopping-cart:before {
  content: "\e116";
}
.fa-folder-close:before {
  content: "\e117";
}
.fa-folder-open:before {
  content: "\e118";
}
.fa-resize-vertical:before {
  content: "\e119";
}
.fa-resize-horizontal:before {
  content: "\e120";
}
.fa-hdd:before {
  content: "\e121";
}
.fa-bullhorn:before {
  content: "\e122";
}
.fa-bell:before {
  content: "\e123";
}
.fa-certificate:before {
  content: "\e124";
}
.fa-thumbs-up:before {
  content: "\e125";
}
.fa-thumbs-down:before {
  content: "\e126";
}
.fa-hand-right:before {
  content: "\e127";
}
.fa-hand-left:before {
  content: "\e128";
}
.fa-hand-up:before {
  content: "\e129";
}
.fa-hand-down:before {
  content: "\e130";
}
.fa-circle-arrow-right:before {
  content: "\e131";
}
.fa-circle-arrow-left:before {
  content: "\e132";
}
.fa-circle-arrow-up:before {
  content: "\e133";
}
.fa-circle-arrow-down:before {
  content: "\e134";
}
.fa-globe:before {
  content: "\e135";
}
.fa-wrench:before {
  content: "\e136";
}
.fa-tasks:before {
  content: "\e137";
}
.fa-filter:before {
  content: "\e138";
}
.fa-briefcase:before {
  content: "\e139";
}
.fa-fullscreen:before {
  content: "\e140";
}
.fa-dashboard:before {
  content: "\e141";
}
.fa-paperclip:before {
  content: "\e142";
}
.fa-heart-empty:before {
  content: "\e143";
}
.fa-link:before {
  content: "\e144";
}
.fa-phone:before {
  content: "\e145";
}
.fa-pushpin:before {
  content: "\e146";
}
.fa-usd:before {
  content: "\e148";
}
.fa-gbp:before {
  content: "\e149";
}
.fa-sort:before {
  content: "\e150";
}
.fa-sort-by-alphabet:before {
  content: "\e151";
}
.fa-sort-by-alphabet-alt:before {
  content: "\e152";
}
.fa-sort-by-order:before {
  content: "\e153";
}
.fa-sort-by-order-alt:before {
  content: "\e154";
}
.fa-sort-by-attributes:before {
  content: "\e155";
}
.fa-sort-by-attributes-alt:before {
  content: "\e156";
}
.fa-unchecked:before {
  content: "\e157";
}
.fa-expand:before {
  content: "\e158";
}
.fa-collapse-down:before {
  content: "\e159";
}
.fa-collapse-up:before {
  content: "\e160";
}
.fa-log-in:before {
  content: "\e161";
}
.fa-flash:before {
  content: "\e162";
}
.fa-log-out:before {
  content: "\e163";
}
.fa-new-window:before {
  content: "\e164";
}
.fa-record:before {
  content: "\e165";
}
.fa-save:before {
  content: "\e166";
}
.fa-open:before {
  content: "\e167";
}
.fa-saved:before {
  content: "\e168";
}
.fa-import:before {
  content: "\e169";
}
.fa-export:before {
  content: "\e170";
}
.fa-send:before {
  content: "\e171";
}
.fa-floppy-disk:before {
  content: "\e172";
}
.fa-floppy-saved:before {
  content: "\e173";
}
.fa-floppy-remove:before {
  content: "\e174";
}
.fa-floppy-save:before {
  content: "\e175";
}
.fa-floppy-open:before {
  content: "\e176";
}
.fa-credit-card:before {
  content: "\e177";
}
.fa-transfer:before {
  content: "\e178";
}
.fa-cutlery:before {
  content: "\e179";
}
.fa-header:before {
  content: "\e180";
}
.fa-compressed:before {
  content: "\e181";
}
.fa-earphone:before {
  content: "\e182";
}
.fa-phone-alt:before {
  content: "\e183";
}
.fa-tower:before {
  content: "\e184";
}
.fa-stats:before {
  content: "\e185";
}
.fa-sd-video:before {
  content: "\e186";
}
.fa-hd-video:before {
  content: "\e187";
}
.fa-subtitles:before {
  content: "\e188";
}
.fa-sound-stereo:before {
  content: "\e189";
}
.fa-sound-dolby:before {
  content: "\e190";
}
.fa-sound-5-1:before {
  content: "\e191";
}
.fa-sound-6-1:before {
  content: "\e192";
}
.fa-sound-7-1:before {
  content: "\e193";
}
.fa-copyright-mark:before {
  content: "\e194";
}
.fa-registration-mark:before {
  content: "\e195";
}
.fa-cloud-download:before {
  content: "\e197";
}
.fa-cloud-upload:before {
  content: "\e198";
}
.fa-tree-conifer:before {
  content: "\e199";
}
.fa-tree-deciduous:before {
  content: "\e200";
}
.fa-cd:before {
  content: "\e201";
}
.fa-save-file:before {
  content: "\e202";
}
.fa-open-file:before {
  content: "\e203";
}
.fa-level-up:before {
  content: "\e204";
}
.fa-copy:before {
  content: "\e205";
}
.fa-paste:before {
  content: "\e206";
}
.fa-alert:before {
  content: "\e209";
}
.fa-equalizer:before {
  content: "\e210";
}
.fa-king:before {
  content: "\e211";
}
.fa-queen:before {
  content: "\e212";
}
.fa-pawn:before {
  content: "\e213";
}
.fa-bishop:before {
  content: "\e214";
}
.fa-knight:before {
  content: "\e215";
}
.fa-baby-formula:before {
  content: "\e216";
}
.fa-tent:before {
  content: "\26fa";
}
.fa-blackboard:before {
  content: "\e218";
}
.fa-bed:before {
  content: "\e219";
}
.fa-apple:before {
  content: "\f8ff";
}
.fa-erase:before {
  content: "\e221";
}
.fa-hourglass:before {
  content: "\231b";
}
.fa-lamp:before {
  content: "\e223";
}
.fa-duplicate:before {
  content: "\e224";
}
.fa-piggy-bank:before {
  content: "\e225";
}
.fa-scissors:before {
  content: "\e226";
}
.fa-bitcoin:before {
  content: "\e227";
}
.fa-btc:before {
  content: "\e227";
}
.fa-xbt:before {
  content: "\e227";
}
.fa-yen:before {
  content: "\00a5";
}
.fa-jpy:before {
  content: "\00a5";
}
.fa-ruble:before {
  content: "\20bd";
}
.fa-rub:before {
  content: "\20bd";
}
.fa-scale:before {
  content: "\e230";
}
.fa-ice-lolly:before {
  content: "\e231";
}
.fa-ice-lolly-tasted:before {
  content: "\e232";
}
.fa-education:before {
  content: "\e233";
}
.fa-option-horizontal:before {
  content: "\e234";
}
.fa-option-vertical:before {
  content: "\e235";
}
.fa-menu-hamburger:before {
  content: "\e236";
}
.fa-modal-window:before {
  content: "\e237";
}
.fa-oil:before {
  content: "\e238";
}
.fa-grain:before {
  content: "\e239";
}
.fa-sunglasses:before {
  content: "\e240";
}
.fa-text-size:before {
  content: "\e241";
}
.fa-text-color:before {
  content: "\e242";
}
.fa-text-background:before {
  content: "\e243";
}
.fa-object-align-top:before {
  content: "\e244";
}
.fa-object-align-bottom:before {
  content: "\e245";
}
.fa-object-align-horizontal:before {
  content: "\e246";
}
.fa-object-align-left:before {
  content: "\e247";
}
.fa-object-align-vertical:before {
  content: "\e248";
}
.fa-object-align-right:before {
  content: "\e249";
}
.fa-triangle-right:before {
  content: "\e250";
}
.fa-triangle-left:before {
  content: "\e251";
}
.fa-triangle-bottom:before {
  content: "\e252";
}
.fa-triangle-top:before {
  content: "\e253";
}
.fa-console:before {
  content: "\e254";
}
.fa-superscript:before {
  content: "\e255";
}
.fa-subscript:before {
  content: "\e256";
}
.fa-menu-left:before {
  content: "\e257";
}
.fa-menu-right:before {
  content: "\e258";
}
.fa-menu-down:before {
  content: "\e259";
}
.fa-menu-up:before {
  content: "\e260";
}