@import 'app/assets/styles/fonts.styl'
body
	margin 0
	font-family Arial, sans-serif
	min-width 680px
	*
		box-sizing border-box
header
	background-color #eee
	border-bottom 1px solid #ddd
	box-shadow 0px 1px 5px #aaa
	.adder
		display inline-block
	.status
		float right
		i
			color #ccc
			margin-left 10px
			&:hover, &.active
				color #444
h1
	display inline
	margin 0
	padding 0
	font-size 15px 
footer
	display block
	clear both
	margin 5px 0
	width 100%
	text-align center
	font-size 12px
	a
		color inherit
		line-height 42px
		vertical-align middle
		&:hover
			img
				width 40px
		img
			vertical-align middle
			width 0
			border-radius 50%
			transition all 0.5s ease
.modal
	display none
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background-color rgba(0,0,0,0.4)
	.gparent
		position relative
		width 100%
		height 100%
		.parent
			position absolute
			top 5%
			left 50%
			-webkit-transform translateX(-50%)
			min-width 600px
			height 400px
			background-color #fff
			border-radius 10px
			padding 20px
			text-align center
			.son
				position relative
			.close
				position absolute
				top -30px
				right -30px
				border-radius 50%
				width 25px
				height 25px
				background-color #000
				color #fff
				font-size 15px
				line-height 23px
				cursor pointer
			
.container
	margin auto
	max-width 1200px
	padding 10px 20px

.rmenu
	position fixed
	width 0
	top 0
	right 0
	height 100%
	background-color #eee
	overflow auto
	box-shadow -1px 0px 5px #aaa
	transition width 0.5s ease
	a
		text-decoration none
		color inherit
	.row
		padding 10px
		display block
		white-space nowrap
	.clickme
		cursor pointer
		&:hover
			background-color #70A0C3