.items
	width 100%
	float left
	.item
		padding 4px 0
		position relative
		.botones
			position absolute
			top 7px
			left 4px
			height 19px
			background-color #445
			&>div
				display inline-block
				width 15px
				height 15px
				border-radius 50%
				text-align center
				font-size 10px
				line-height 14px
				vertical-align top
				cursor pointer
				&:hover
					color #fff
			.cerrar
				background-color #fc6356
				margin 2px 2px 2px 4px
				color #fc6356
			.minimizar
				background-color #27ca45
				margin 2px 4px 2px 2px
				color #27ca45