table
	margin 1%
	width 98%
	th
		text-align left
		color #fff
		background-color #444455
		padding 2px
	td
		div
			padding 2px
			max-width 100px
			white-space nowrap
			overflow hidden
			text-overflow ellipsis