extends ../layouts/main.jade
//- block styles
	link(rel="stylesheet",href="/styles/main.css")
block scripts
	script(src="/scripts/alerts.js")
block header
	.status
		i.fa.fa-menu-hamburger(title="Menu",onclick="$('#rmenu').css({width:'200px'})")
block body
	.container
		.row
			|Username: 
			input(type="text")#username
			input(type="button", value="Ask for code")#confirm
			.message
				|Send 
				b#code /confirm #####
				|  to 
				a(href="https://telegram.me/CryptoAlerterBot") @CryptoAlerterBot
				|  on telegram to finish
			.message2 Confirmado
		.coinAlerts
			.row: .name BTC
			.row
				input(type="checkbox")
				|Minimum Value
				input(type="text")
			.row
				input(type="checkbox")
				|Maximum Value
				input(type="text")
			.row
				input(type="checkbox")
				|Sell alert
			.row
				input(type="checkbox")
				|Buy alert
			.row
				input(type="checkbox")
				|Rising alert
			.row
				input(type="checkbox")
				|Declining alert

		select#coinSelector
			for coin in coins
				option(value="#{coin.code}") #{coin.name}
		input(type="button",value="Add Coin Alert")