doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")/
		title #{title}
		script(src="scripts/jquery.js")
		link(rel="stylesheet",href="/styles/layout.css")
		block styles
		block scripts

	body
		header
			.container
				h1 Crypto Alerter 
				block header
		block body
		footer
			a(href="http://floresbenavides.com",target="_blank")
				|Created by 
				img(src="http://www.gravatar.com/avatar/90a0947bc0ffec1b239d6e48fd8c4dd2?s=200")
				|ZeroDragon
			|  | 
			a(href="https://github.com/ZeroDragon/cryptoAlerter",target="_blank") Fork me at github
			|  | 
			a(href="javascript:;",onClick="$('.modal').show()",target="_blank") Found this useful?
		.rmenu#rmenu
			a(href="/").clickme.row
				i.fa.fa-stats
				|  Homepage
			a(href="/trends").clickme.row
				i.fa.fa-sort
				|  Trend
			a(href="/alerts").clickme.row
				i.fa.fa-exclamation-sign
				|  AlertBot
			.row.clickme(onClick="$('#rmenu').css({width:0})")
				i.fa.fa-arrow-right
				|  Close
		.modal
			.gparent
				.parent
					.son
						|Send me love to:
						br
						img(src="/images/1G7k3tH43hEsh1sjW4BKGYtev15Txmbc9K.png")
						br
						|1G7k3tH43hEsh1sjW4BKGYtev15Txmbc9K
						.close(onClick="$('.modal').hide()") x